/* add sizes in here  */

main,
.header_wrapper,
.footer_wrapper {
  width: var(--full-width-main);
}

main,
.header_wrapper,
.footer_wrapper,
.section_post,
.contact_form-container {
  margin-inline: auto;
}

.hero_wrapper {
  margin: auto;
}

.hero_img {
  height: auto;
}

.banner {
  height: 30vh;
  max-height: 350px;
}

.banner_bg,
.banner_bg-post,
.article_card img {
  height: 100%;
  width: 100%;
}

.hero_wrapper,
.post_image-container img,
.post_image-container {
  height: 100%;
}

.hero_img,
.card_content,
.post_image-container img {
  width: 100%;
}

.banner h1,
.hero_text,
.article_card,
.button_load-more,
.section_post,
.post_image-container,
.contact_form-container,
input,
textarea {
  border-radius: var(--border-radius);
}

.banner h1 {
  padding: 10px 20px 20px 20px;
  margin: 10px;
  max-width: 600px;
}

.hero_section {
  height: 60dvh;
  max-height: 900px;
}

.post_image-container img,
.post_image-container {
  min-width: 250px;
  max-height: 300px;
}

.article_card {
  height: 30dvh;
  max-height: 500px;
}

textarea {
  height: 200px;
  resize: none;
}

.section_bg_image {
  padding: 50px 20px;
}

.hero_text {
  padding: 10px 20px 20px 20px;
  margin: 10px;
  max-width: 600px;
}

.grid_container {
  padding: 50px 8dvw;
}

.card_content {
  padding-bottom: 5px;
}

.article_card img,
.post_image-container img {
  aspect-ratio: 1;
}

.card_content p,
.card_content h2 {
  margin-inline: 10px;
}

.button_load-more {
  padding: 20px;
  outline: 1px black;
  width: 90%;
}

.article_margin {
  margin-block: 50px;
}

label {
  margin-left: 20px;
}

.section_post {
  border: 2px solid #ffffff;
}

.post_content,
.contact_form-container,
.section_post {
  padding: 20px;
}

.post_image-container,
.post_text {
  width: 49%;
}

.contact_form-container {
  width: 90%;
}

input,
textarea {
  padding: 10px 10px 10px 20px;
  margin-bottom: 20px;
  width: min(500px, min(70dvw, 600px));
}

input:focus,
textarea:focus {
  outline: none;
}

.article_card,
.post_image-container {
  overflow: hidden;
}
