/* add typography here  */

/* global typography */

body {
  font-family: var(--font-family-base), var(--font-family-primary-fallback), var(--font-family-secondary-fallback);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h1,
h2,
h3 {
  font-family: var(--font-family-headings), var(--font-family-primary-fallback), var(--font-family-secondary-fallback);
  text-align: center;
  text-transform: capitalize;
  text-wrap: balance;
}

p {
  font-family: var(--font-family-base), var(--font-family-primary-fallback), var(--font-family-secondary-fallback);
  font-size: var(--font-size-p);
  line-height: 1.5;
  hyphens: auto;
}

h1,
h2,
h3,
p {
  color: var(--text-white);
}

button {
  color: var(--text-white);
  text-transform: capitalize;
}

/* specified typography */

.logo_wrapper > p,
nav > ul > li {
  font-family: var(--font-family-headings), var(--font-family-primary-fallback), var(--font-family-secondary-fallback);
  text-transform: capitalize;
}

.hero_wrapper,
.card_content {
  text-align: center;
}

.card_content h2 {
  font-size: var(--font-size-h3);
  text-wrap: nowrap;
}

.button_load-more {
  font-size: var(--font-size-h3);
}

label {
  font-size: var(--font-size-p);
  font-weight: 700;
}
