/* add header and footer css in here  */

.hamburger {
  display: none;
}

/* the full header 
====================================================== */
header {
  height: auto;
  background: var(--color-primary);
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  gap: 20px;
}

/* logo with text 
======================================================= */
.logo_wrapper {
  display: flex;
  align-items: center;
}

/* .logo is both the href and logo image */
a.logo {
  padding: 0px;
  width: 70px;
}

.logo > img {
  height: auto;
  width: 100%;
  z-index: 2;
}

.logo_wrapper > p {
  font-size: var(--font-size-p-large);
  margin-left: -8px;
  font-weight: 600;
  text-wrap: nowrap;
  color: #ffffff;
  text-decoration: underline;
}

/* the navigation 
========================================================== */

ul {
  display: flex;
  height: 100%;
  align-items: center;
  column-gap: 10px;
}

li > a {
  font-size: var(--font-size-p-medium);
  color: var(--text-white);
  align-self: center;
  padding: 20px 10px;
}

/* footer
========================================================*/

footer {
  background: var(--color-secondary);
  padding: 15px;
}

.footer_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer_logo {
  width: 75px;
  height: auto;
}

.footer_wrapper > p {
  margin: 20px;
  text-align: center;
}
